    {{> menu}}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <h3>Buscar paciente: </h3>
      <form action="/historias/find" method="POST">
          <input type="number" name="cedula" placeholder="Cédula">
          <button type="submit">Buscar</button>
      </form>
      <h2>Listado de Pacientes</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">C.I</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Correo</th>
              <th scope="col">Telefono</th>
              <th scope="col">Fecha de Creación</th>
            </tr>
          </thead>
          <tbody>
               {{#each find}}
              <tr>
                  <td>{{cedula}}</td>
                  <td>{{nombre}}</td>
                  <td>{{apellido}}</td>
                  <td>{{email}}</td>
                  <td>{{tlf}}</td>
                  <td>{{date}}</td>
              </tr>
              {{/each}}

              {{#each pacientes}}
              <tr>
                  <td>{{cedula}}</td>
                  <td>{{nombre}}</td>
                  <td>{{apellido}}</td>
                  <td>{{email}}</td>
                  <td>{{tlf}}</td>
                  <td>{{date}}</td>
              </tr>
              {{/each}}
          </tbody>
        </table>
      </div>
    </main>